## clean world happiness dataset

In [65]:
import pandas as pd

df = pd.read_csv('./data/world_happiness.csv')
df.shape

(2199, 13)

In [3]:
df.isnull().sum()

Country Name                           0
Regional Indicator                   112
Year                                   0
Life Ladder                            0
Log GDP Per Capita                    20
Social Support                        13
Healthy Life Expectancy At Birth      54
Freedom To Make Life Choices          33
Generosity                            73
Perceptions Of Corruption            116
Positive Affect                       24
Negative Affect                       16
Confidence In National Government    361
dtype: int64

In [4]:
df.dropna(inplace=True)
df.shape

(1683, 13)

In [5]:
df.describe()

,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
count,1683.000000,1683.000000,1683.000000,1683.000000,1683.000000,1683.000000,1683.000000,1683.000000,1683.000000,1683.000000,1683.000000
mean,2013.925728,5.484487,9.355232,0.812622,63.151230,0.748815,0.002644,0.750696,0.659376,0.269064,0.483957
std,4.405145,1.149633,1.154303,0.121037,7.178640,0.136542,0.162249,0.185503,0.105602,0.081819,0.192992
min,2005.000000,2.178809,5.526723,0.290934,6.720000,0.260069,-0.337527,0.035198,0.178886,0.094316,0.078787
25%,2010.000000,4.620406,8.427542,0.743757,58.420000,0.659158,-0.106054,0.698389,0.578062,0.208157,0.333443
50%,2014.000000,5.431614,9.508173,0.839280,65.000000,0.768174,-0.021610,0.806596,0.670486,0.259691,0.468150
75%,2018.000000,6.319366,10.316836,0.909040,68.924999,0.856921,0.095830,0.874650,0.744015,0.318330,0.618612
max,2021.000000,7.970892,11.663788,0.987343,74.349998,0.985178,0.702708,0.983276,0.883586,0.606713,0.993604

In [156]:
df.rename(columns={'year':'Year'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1683 entries, 0 to 2197
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country Name                       1683 non-null   object
 1   Regional Indicator                 1683 non-null   object
 2   Year                               1683 non-null   int64
 3   Life Ladder                        1683 non-null   float64
 4   Log GDP Per Capita                 1683 non-null   float64
 5   Social Support                     1683 non-null   float64
 6   Healthy Life Expectancy At Birth   1683 non-null   float64
 7   Freedom To Make Life Choices       1683 non-null   float64
 8   Generosity                         1683 non-null   float64
 9   Perceptions Of Corruption          1683 non-null   float64
 10  Positive Affect                    1683 non-null   float64
 11  Negative Affect                    1683 non-null   float64
 12  Confidence In National Government  1683 non-null   float64
dtypes: float64(10), int64(1), object(2)
memory usage: 184.1+ KB

## Clean mental disorder dataset

In [59]:
df_md = pd.read_csv('./data/depression_disorder.csv')
print(df_md.shape)
df_md.head()

(108553, 11)

C:\Users\yisha\AppData\Local\Temp\ipykernel_24772\195879652.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_md = pd.read_csv('./data/depression_disorder.csv')

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

In [60]:
# clean dataset
# get rid of non value

df_md = df_md.dropna()

In [61]:
df_md.rename(columns={
    'Entity':'Country Name', 
    'Schizophrenia (%)':'Schizophrenia',
    'Bipolar disorder (%)':'Bipolar disorders',
    'Eating disorders (%)':'Eating disorders',
    'Anxiety disorders (%)':'Anxiety disorders',
    'Drug use disorders (%)':'Drug use disorders',
    'Depression (%)':'Depression',
    'Alcohol use disorders (%)':'Alcohol use disorders'}, inplace=True)

In [62]:
df_md.Year = df_md.Year.astype('int64')
df_md.Schizophrenia = df_md.Schizophrenia.astype('float64')
df_md['Bipolar disorders'] = df_md['Bipolar disorders'].astype('float64')
df_md['Eating disorders'] = df_md['Eating disorders'].astype('float64')
df_md.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5488 entries, 0 to 6467
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  5488 non-null   int64
 1   Country Name           5488 non-null   object
 2   Code                   5488 non-null   object
 3   Year                   5488 non-null   int64
 4   Schizophrenia          5488 non-null   float64
 5   Bipolar disorders      5488 non-null   float64
 6   Eating disorders       5488 non-null   float64
 7   Anxiety disorders      5488 non-null   float64
 8   Drug use disorders     5488 non-null   float64
 9   Depression             5488 non-null   float64
 10  Alcohol use disorders  5488 non-null   float64
dtypes: float64(7), int64(2), object(2)
memory usage: 514.5+ KB

In [ ]:
df_md.to_csv("cleaned_mental_disorder.csv", index=False)

## Join two tables

In [151]:
df1 = pd.read_csv('cleaned_worldhappiness.csv') #2005~2021
df2 = pd.read_csv('cleaned_mental_disorder.csv') #1990~2017


countries_df1 = set(df1['Country Name'].unique())
countries_df2 = set(df2['Country Name'].unique())

unmatched_in_df1 = countries_df1 - countries_df2  # Countries in df1 but not in df2
unmatched_in_df2 = countries_df2 - countries_df1  # Countries in df2 but not in df1

unmatched_in_df1

{'Congo (Brazzaville)',
 'Ivory Coast',
 'North Macedonia',
 'Taiwan Province of China'}

In [152]:
unmatched_in_df2

{'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Bahamas',
 'Bahrain',
 'Barbados',
 'Belize',
 'Bermuda',
 'Bhutan',
 'Brunei',
 'Cape Verde',
 'Central African Republic',
 'China',
 'Congo',
 "Cote d'Ivoire",
 'Cuba',
 'Czech Republic',
 'Democratic Republic of Congo',
 'Djibouti',
 'Dominica',
 'Equatorial Guinea',
 'Eritrea',
 'Fiji',
 'Greenland',
 'Grenada',
 'Guam',
 'Guinea-Bissau',
 'Guyana',
 'Kiribati',
 'Libya',
 'Macedonia',
 'Maldives',
 'Marshall Islands',
 'Micronesia (country)',
 'North Korea',
 'Northern Mariana Islands',
 'Oman',
 'Palestine',
 'Papua New Guinea',
 'Puerto Rico',
 'Qatar',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Seychelles',
 'Solomon Islands',
 'Somalia',
 'South Sudan',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Syria',
 'Taiwan',
 'Timor',
 'Tonga',
 'Trinidad and Tobago',
 'Turkey',
 'Turkmenistan',
 'United Arab Emirates',
 'United States Virgin Islands',
 'Vanuatu',
 'World'}

In [153]:
# keep 2005~2017 data
df1_filter = df1[(df1['Year'] >= 2005) & (df1['Year'] <= 2017)]
merged_df = pd.merge(df1_filter, df2, on=['Country Name', "Year"], how='inner')
merged_df_country = set(merged_df['Country Name'].unique())
merged_df_country

{'Afghanistan',
 'Albania',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chad',
 'Chile',
 'Colombia',
 'Comoros',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Rwanda',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tunisia',
 'Uganda',
 'Ukraine',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [157]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1221 entries, 0 to 1220
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country Name                       1221 non-null   object
 1   Regional Indicator                 1221 non-null   object
 2   Year                               1221 non-null   int64
 3   Life Ladder                        1221 non-null   float64
 4   Log GDP Per Capita                 1221 non-null   float64
 5   Social Support                     1221 non-null   float64
 6   Healthy Life Expectancy At Birth   1221 non-null   float64
 7   Freedom To Make Life Choices       1221 non-null   float64
 8   Generosity                         1221 non-null   float64
 9   Perceptions Of Corruption          1221 non-null   float64
 10  Positive Affect                    1221 non-null   float64
 11  Negative Affect                    1221 non-null   float64
 12  Confidence In National Government  1221 non-null   float64
 13  index                              1221 non-null   int64
 14  Code                               1221 non-null   object
 15  Schizophrenia                      1221 non-null   float64
 16  Bipolar disorders                  1221 non-null   float64
 17  Eating disorders                   1221 non-null   float64
 18  Anxiety disorders                  1221 non-null   float64
 19  Drug use disorders                 1221 non-null   float64
 20  Depression                         1221 non-null   float64
 21  Alcohol use disorders              1221 non-null   float64
dtypes: float64(17), int64(2), object(3)
memory usage: 210.0+ KB

In [155]:
merged_df.to_csv("joined_HPMD.csv", index=False)