clean world happiness dataset

In [13]:
import pandas as pd

df = pd.read_csv('./data/world_happiness.csv')
df.shape
df.describe() #2005~2022

,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
count,2199.000000,2199.000000,2179.000000,2186.000000,2145.000000,2166.000000,2126.000000,2083.000000,2175.000000,2183.000000,1838.000000
mean,2014.161437,5.479226,9.389766,0.810679,63.294583,0.747858,0.000096,0.745195,0.652143,0.271501,0.483999
std,4.718736,1.125529,1.153387,0.120952,6.901104,0.140150,0.161083,0.185837,0.105922,0.086875,0.193071
min,2005.000000,1.281271,5.526723,0.228217,6.720000,0.257534,-0.337527,0.035198,0.178886,0.082737,0.068769
25%,2010.000000,4.646750,8.499764,0.746609,59.119999,0.656528,-0.112116,0.688139,0.571684,0.207660,0.332549
50%,2014.000000,5.432437,9.498955,0.835535,65.050003,0.769821,-0.022671,0.799654,0.663063,0.260671,0.467140
75%,2018.000000,6.309460,10.373216,0.904792,68.500000,0.859382,0.092070,0.868827,0.737936,0.322894,0.618846
max,2022.000000,8.018934,11.663788,0.987343,74.474998,0.985178,0.702708,0.983276,0.883586,0.704590,0.993604

In [19]:
df.isnull().sum()

Country Name                           0
Regional Indicator                   112
Year                                   0
Life Ladder                            0
Log GDP Per Capita                    20
Social Support                        13
Healthy Life Expectancy At Birth      54
Freedom To Make Life Choices          33
Generosity                            73
Perceptions Of Corruption            116
Positive Affect                       24
Negative Affect                       16
Confidence In National Government    361
dtype: int64

In [21]:
df.dropna(inplace=True)
df.shape

(1683, 13)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1683 entries, 0 to 2197
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country Name                       1683 non-null   object
 1   Regional Indicator                 1683 non-null   object
 2   Year                               1683 non-null   int64
 3   Life Ladder                        1683 non-null   float64
 4   Log GDP Per Capita                 1683 non-null   float64
 5   Social Support                     1683 non-null   float64
 6   Healthy Life Expectancy At Birth   1683 non-null   float64
 7   Freedom To Make Life Choices       1683 non-null   float64
 8   Generosity                         1683 non-null   float64
 9   Perceptions Of Corruption          1683 non-null   float64
 10  Positive Affect                    1683 non-null   float64
 11  Negative Affect                    1683 non-null   float64
 12  Confidence In National Government  1683 non-null   float64
dtypes: float64(10), int64(1), object(2)
memory usage: 184.1+ KB

In [23]:
df.to_csv("cleaned_worldhappiness.csv", index=False)

## Mental disorder

In [53]:
df_mh = pd.read_csv('./data/depression_disorder.csv')
df_mh.head()

C:\Users\yisha\AppData\Local\Temp\ipykernel_28488\3721164555.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mh = pd.read_csv('./data/depression_disorder.csv')

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

In [54]:
df_mh.dropna(inplace=True)

In [63]:
df_mh.isnull().sum()

index                    0
Entity                   0
Code                     0
Year                     0
Schizophrenia            0
Bipolar disorders        0
Eating disorders         0
Anxiety disorders        0
Drug use disorders       0
Depression               0
Alcohol use disorders    0
dtype: int64

In [55]:
df_mh['Year'] = pd.to_numeric(df_mh['Year'], errors='coerce').astype('int64')

df_mh['Schizophrenia (%)'] = pd.to_numeric(df_mh['Schizophrenia (%)'], errors='coerce').astype('float64')
df_mh['Bipolar disorder (%)'] = pd.to_numeric(df_mh['Bipolar disorder (%)'], errors='coerce').astype('float64')
df_mh['Eating disorders (%)'] = pd.to_numeric(df_mh['Eating disorders (%)'], errors='coerce').astype('float64')

In [56]:
df_mh.rename(columns={'Schizophrenia (%)': 'Schizophrenia', 
                      'Bipolar disorder (%)':'Bipolar disorders', 
                      'Eating disorders (%)':'Eating disorders',
                      'Anxiety disorders (%)':'Anxiety disorders',
                      'Drug use disorders (%)':'Drug use disorders',
                      'Depression (%)':'Depression',
                      'Alcohol use disorders (%)': 'Alcohol use disorders'                                      
                      }, inplace=True)

In [61]:
df_mh.to_csv("cleaned_mental_disorder.csv", index=False)